* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 2vh 10% 5vh 5%;
  font-size: large;
}

.view-high-scores {
  color: purple;
  text-decoration: underline;
  visibility: visible;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.view-box {
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;

  justify-content: center;
  flex-direction: column;
}

#opening-screen {
  display: flex;
  justify-content: center;
}

#intro {
  width: 90%;
  margin: auto;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}

button {
  width: 40%;
  margin: 20px auto;
  height: 5vh;
  background-color: purple;
  color: white;
  border-radius: 25px;
  font-size: large;
}

#question {
  display: flex;
  border: 2px solid black;
  width: 90%;
  text-align: center;
  margin: auto;
  justify-content: center;
  font-size: 1.5rem;
}

.answer-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  margin: 2vh auto;
}

.answer {
  background-color: purple;
  width: 85%;
  height: 50px;
  margin: 5px;
  border-radius: 25px;
}

.end-box {
  width: 100%;
  margin: auto;
  text-align: center;
}

.scores-box {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scores-box > * {
  text-align: center;
  width: 60%;
  margin: 10px auto;
  font-size: 1.5rem;
}

li:nth-child(odd) {
  background-color: lavender;
}

.high-score-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.high-score-buttons > button {
  margin: auto;
}

.view-high-scores:hover {
  opacity: 0.5;
}

button:hover {
  opacity: 0.5;
}

.answer:hover {
  opacity: 0.5;
}

@media screen and (min-width: 425px) {
  .name-input {
    width: 60%;
    font-size: large;
  }
}

@media screen and (min-width: 769px) {
  #intro {
    font-size: x-large;
  }
  .answer {
    width: 45%;
    height: 75px;
  }
}

#opening-screen {
  display: flex;
}

#quiz-screen {
  display: none;
}

#end-screen {
  display: none;
}

#high-score-screen {
  display: none;
}
